.VirtualizedSelectOption {
    background-color: #222;
    color: white;
}

.VirtualizedSelectFocusedOption {
    background-color: #444;
    color: white;
}

#layer-panel-list li:hover {
    background-color: #333;
    cursor: pointer;
}